/* laptop  */
@media (max-width: 1280px) {
    .main-container {
        flex-direction: column;
        width: auto;
    }
    .main-content-section {
        padding: 10px 9px;
        width: auto;
    }
    .about-me-profession{
        text-align: center;
    }
    .about-me-name{
        text-align: center;
    }
    .about-me-description{
        width: auto;
    }

    .my-work-expirience-company-block{
        margin: 0 15px 0 0;
        width: auto;
    }
     .sidebar-section {
        width: auto;
        padding: 20px 0;
    }
}
/* tablet  */
@media (max-width: 1024px) {
 
}

/* mobile */
@media (max-width: 767px) {
    .my-projects-technology{
      display: block;  
    }
}

