body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #FFFFFF;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main content section */ 
.main-content-section {
    padding: 100px 90px;
    width: 830px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
/* About me section */ 
.about-me-section {
    margin-bottom: 40px;
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;  
    color: #000000;
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}
/* My projects section */ 
.my-projects-section {
    margin-bottom: 50px;
}
.my-projects-list{
    padding: 0 0 0 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.my-projects-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* My work expirience section */
.my-work-expirience-company-block{
    margin: 0  0 15px 0;
    width: 525px;
}
.my-work-expirience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}
.my-work-expirience-company{
    color: #FB6D3A;
}
.my-work-expirience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-expirience-period-divider{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.my-work-expirience-duties{
    padding: 0 0 0 18px;
}
.my-work-expirience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My education section */
.my-education-section{
    margin: 45px 0 0 0;
}
.my-education-university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 10px 0 10px 0;
}
.my-education-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.my-education-university-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 10px 0 0 0;
}
.my-education-university-period-divider{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
/* Sidebar section */
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.contact-section,
.tech-skills-section{
    margin: 50px 0 0 40px;
}

.soft-skills-section{
    margin: 45px 0 0 40px;
}
.sidebar-section img {
    width: 370px;
}
.sidebar-section-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
/* Contacts section */
.contact-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}
.contact-section-link{
    color:#565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}
/* Tech skills section */
.tech-skills-list{
    padding: 0 0 0 17px;
}
.tech-skills-item{
    color: #FB6D3A;
}
.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
/* Soft skills section */
.soft-skills-list{
    padding: 0 0 0 17px;
}
.soft-skills-item{
    color: #FB6D3A;
}
.soft-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}